body {
    font: 12px Arial;
    background-color: #022027;
    color: #d3d3d3
}
path {
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.horizontalGrid, .verticalGrid {
    stroke: grey;
    stroke-width: 1px;
}

.axis path, .axis line {
    fill: none;
    stroke: lightgrey;
    stroke-width: 0;
    shape-rendering: crispEdges;
}

.axis {
    fill: grey
}

.navbar {
    background-color: #022027;
}


.panel, .list-group-item {
    border: 0px;
    color: #d3d3d3;
    background: #022027;
}

.badge {
    background: #d3d3d3;
    color: #022027
}


.summaryCardElement {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.top-buffer { margin-top:80px; }


rect.highlight {
    opacity: 0.8;
}