{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="column col-xs-3"> </div>
  <div class="column col-xs-6">
    <div class="lead">
      <h2> About lolchance.com</h2>
      Did your team ever had an awesome comeback in a League of Legends match that felt like
      a sure defeat mid game? <br /><br />
      lolchance.com tells you how close you were to a defeat and visualizes your
      chance to win during the whole match. The win chance is calculated based on thousands of
      other matches that had a similar matchup compared by gold, champion levels, dragon, baron
      and other metrics.

      <h2> About me </h2>
      Hi! My name is Christoph Molnar (EUW, curizzo). I enjoy building applications, working with data and
      playing League of Legends. I am only a mediocre occasional LoL player, so I really
      appreciate the advice I get for improving lolchance.com from my brothers Philipp (EUW,
      Insidia) and Florian (EUW, superbibuba), who are way better
      than me. Thanks! 
<br /><br />
      Hope you like lolchance.com. If you have some time for feedback I would appreciate if you
      just drop me an e-mail:
      <a href="mailto:contact.lolchance@gmail.com"> <h4>contact.lolchance@gmail.com </h4></a>
    </div>
<br /><br />
    lolchance isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.

  </div>
  <div class="column col-xs-3">  </div>
</div>
{% endblock %}
