<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Path to victory </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-dynamic-top">
      <div class="container">
        <div class="navbar-header">
        </div>
        <form class="navbar-form navbar-center" action="/match" method="POST">
          {{ form.hidden_tag() }}

            Region:
            {{ form.region() }}
            Summoner name:
            {{ form.summoner() }}

<input type="submit" value="Show me!">
        </form>
      </div>
    </nav>
    <div class="container-fluid">
    {% block content %}{% endblock %}
</div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
