{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning" align = "center">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
</br></br></br></br></br></br></br></br></br></br></br></br></br>
<h1 align="center"> Analyse your win chance during your last League of Legends match. </h1>
</br>
<div align="center" class="info-lg"> <h4> This website is still in progress. Any kind of feedback is highly
  appreciated. </h4> 
<a href="mailto:contact.lolchance@gmail.com"> <h4>contact.lolchance@gmail.com </h4></a> </div>
{% endblock %}
