{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="col-md-12">
<h1 align="center">{{ summonerName }}</h1>
</div>
</div>
<div class="row top-buffer">
</div>
<div class="row">
  <div class="col-md-2"> </div>
  <div class="col-md-8">
    <div class="container" height="144px">
      <div class="summaryCardElement">
        <h1 class={% if match.win %}"text-success"{% else %}"text-danger"{% endif %}> {% if
          match.win %} Victory {% else %} Defeat {% endif %} </h1>
        ({{ match.date.strftime('%Y-%m-%d at %H:%M') }})
      </div>
      <div class="summaryCardElement">
        <img src="{{ url_for('static', filename='img/champion/%s.png' % (player['championId']))
                  }}" width="144" height="144" onerror="this.style.display='none'">
      </div>
      <div class="summaryCardElement">
        <table width="150px">
          <tr> <td> Kills </td> <td>  {{ player["stats"]["kills"] }} </td> </tr>
          <tr> <td> Deaths </td> <td> {{ player["stats"]["deaths"] }} </td> </tr>
          <tr> <td> Assists </td> <td> {{ player["stats"]["assists"] }} </td> </tr>
          <tr> <td> Farm </td> <td>  {{ player["stats"]["minionsKilled"] }} </td> </tr>
          <tr> <td> Gold </td> <td>  {{ player["stats"]["goldEarned"] }} </td> </tr>
        </table>
      </div>
      <div class="summaryCardElement">
        <table width="72" border="0" cellspacing="0" cellpadding="0">
          <tr> <td>
              <img src="{{ url_for('static', filename='img/spell/%s.png' %
                        (player['spell1Id']) ) }}"  width="52" height="52">
          </td></tr>
          <tr> <td>
              <img src="{{ url_for('static', filename='img/spell/%s.png' % (player['spell2Id']) ) }}"
                   width="52" height="52">
          </td> </tr>
        </table>
      </div>
      <div class="summaryCardElement">
        <table>
          <tr>
            <td> <img src="{{ url_for('static', filename='img/item/%s.png' % (player['stats']['item0']) )
                           }}" width="52" height="52" onerror="this.style.display='none'"> </td>
            <td> <img src="{{ url_for('static', filename='img/item/%s.png' % (player['stats']['item1']) )
                           }}" width="52" height="52" onerror="this.style.display='none'"> </td>
            <td> <img src="{{ url_for('static', filename='img/item/%s.png' % (player['stats']['item2']) )
                           }}" width="52" height="52" onerror="this.style.display='none'"> </td>
          </tr>
          <tr>
            <td> <img src="{{ url_for('static', filename='img/item/%s.png' % (player['stats']['item3']) )
                           }}" width="52" height="52" onerror="this.style.display='none'"> </td>
            <td> <img src="{{ url_for('static', filename='img/item/%s.png' % (player['stats']['item4']) )
                           }}" width="52" height="52" onerror="this.style.display='none'"> </td>
            <td>    <img src="{{ url_for('static', filename='img/item/%s.png' % (player['stats']['item5']) )
                              }}" width="52" height="52" onerror="this.style.display='none'"> </td>
            <td> <img src="{{ url_for('static', filename='img/item/%s.png' % (player['stats']['item6']) )
                           }}" width="52" height="52" onerror="this.style.display='none'"> </td>
          </tr>
        </table>
      </div> <!-- summaryCardElement -->
    </div> <!-- container-->
  </div> <!-- col-md-8 -->
  <div class="col-md-2"></div>
</div> <!-- row -->
<div class="row top-buffer">
</div>
<div class="row">
  <div class="col-md-2"> </div>
  <div class="col-md-8" id="plot">  </div>
  <div class="col-md-2"> </div>
</div>
<script>
  var winprob_line = {{ match.get_winprob_dataframe() | safe }}
</script>
<script src="{{ url_for('static', filename='winprob.js') }}"> </script>
{% endblock %}
